<div class="yell-top">
    <div class="container">
        <div class="left">
            <i class="fas fa-phone" ></i>4545-5555-2222
        </div>
        <div class="middle">
            <i  class="fas fa-envelope"> </i>manager@propertylist
        </div>
        <div class="right">
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-pinterest-square"></i>
        </div>
        </div>
</div>