{% extends 'base.html' %}
{% block content %}
  <h1>Welcome to Login page</h1>
  {% include 'partials/_alerts.html' %}
  <div class="container">
    <div class="light-background center">
    <form method="POST" action="{% url 'account:login' %}">
      {% csrf_token %}
      <p><label for="user">UserName</label>
      <input id="user" name="username" type="text"></p>

      <p><label for="pass"> Password </label>
      <input id="pass" name="password" type="password"></p>

      <input class="round-btn" type="submit" value="Login">


    </form>
      </div>
  </div>
{% endblock %}
