<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Property Listing
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    {% include 'partials/_topbar.html' %}
    {% include 'partials/_navbar.html' %}
    {% include 'partials/_footer.html' %}
    {% block content %}
     {% endblock %}

    <script src="https://kit.fontawesome.com/06e9436416.js" crossorigin="anonymous"></script>

</body>
</html>